/*swera : NUMR*/
@font-face {
    font-family: 'ABC Whyte Inktrap';
    src: url('../assets/font/ABC Whyte/ABC Whyte Inktrap/ABCWhyteInktrap-Bold-Trial.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'ABC Whyte Inktrap';
    src: url('../assets/font/ABC Whyte/ABC Whyte Inktrap/ABCWhyteInktrap-Black-Trial.otf') format('opentype');
    font-weight: 800;
}

/*Merriweather*/
@font-face {
    font-family: 'Merriweather';
    src: url('../assets/font/merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../assets/font/merriweather/Merriweather-Light.ttf') format('truetype');
    font-weight: 300;
}

/*Questrial-Regular*/
@font-face {
    font-family: 'questrial';
    src: url('../assets/font/questrial/Questrial-Regular.ttf') format('truetype');
    font-weight: normal;
}

body{
    background-color: #241617;
    font-family: questrial, serif;
    font-weight: 300;
    color: white;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: ABC Whyte Inktrap, serif;
    font-weight: 800;
    font-size: 31.3vw;
    letter-spacing: -2.8vw;
    margin: 0;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

iframe {
    width: 600px;
    height: 400px;
}